<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Common ASP.NET configuration -->
  <appSettings>
    <add key="Service" value="marchhare" />
    <add key="Environment" value="demo" />
    <add key="LoadingTimeout" value="180" />
    <add key="logPort" value="8090" />
        <add key="loadport" value="8093" />
        
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <connectionStrings>
        <add connectionString="Server=WALRUS\PRI;Database=system;Trusted_Connection=Yes;" name="priority" />
    </connectionStrings>
  

  
</configuration>