<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="loadport" value="8093" />
        <add key="service" value="MARCHHARE" />
        <add key="environment" value="demo" />
        <add key="loadingtimeout" value="60" />
        <add key="logport" value="8090" />
    </appSettings>
    <connectionStrings>
        <add connectionString="Server=WALRUS\PRI;Database=system;Trusted_Connection=Yes;" name="priority" />
    </connectionStrings>
</configuration>
